language: php
sudo: required
dist: trusty
php:
  - 5.5

before_install:
  - rm -rf ~/.gnupg
  - sudo apt-get install xvfb

before_script:
  ## PHP_CodeSniffer
  - composer global require "squizlabs/php_codesniffer=*"
  - git clone git://github.com/wimg/PHPCompatibility.git ~/.composer/vendor/squizlabs/php_codesniffer/CodeSniffer/Standards/PHPCompatibility
  - phpenv rehash
  - .composer/vendor/bin/phpcs -i
  - phpenv rehash
  - .composer/vendor/bin/phpcs --config-set error_severity 1
  - .composer/vendor/bin/phpcs --config-set warning_severity 0

script:
  ## PHP_CodeSniffer
  - .composer/vendor/bin/phpcs --standard=PHPCompatibility --runtime-set testVersion 5.3-5.5 $(find ./ -name '*.php')
  - if find . -name "*.php" ! -path "./node_modules/*" -exec php -l {} 2>&1 \; | grep "syntax error, unexpected"; then exit 1; fi

notifications:
  slack: its-b:0XQUVV6AT4X0QcW7bODX0mjs